# More practice with pandas


### Objective of this notebook
Using the same dataset that we used in Colab_Lec03, let's practice more data exploration.

In [1]:
# Import libraries
import pandas as pd

In [3]:
# Read in the movie data set
movie_filepath = 'https://raw.githubusercontent.com/csbfx/advpy122-data/master/top_movies_2020.csv'
movies_df = pd.read_csv(movie_filepath)

Recall, how do you find out information and details of your dataset?

In [5]:
## What is the size of the table?
table_size = movies_df.size
print("Size of the table:", table_size)
## What are the data type of each of the columns in the table?
column_dtypes = movies_df.dtypes
print("Data types of each column:\n", column_dtypes)
## How many missing values are in each column?
missing_values = movies_df.isna().sum()
print("Number of missing values in each column:\n", missing_values)

Size of the table: 800
Data types of each column:
 Title               object
Gross                int64
Gross (Adjusted)     int64
Year                 int64
dtype: object
Number of missing values in each column:
 Title               0
Gross               0
Gross (Adjusted)    0
Year                0
dtype: int64

## Questions to find the next blockbuster
Let's get some information about trends in movie's gross to decide which movie were popular and high grossing so we can make a pitch for the next blockbuster. Use either tables or plots to answer the following questions.

In [24]:
## Q1: What was the max Gross and Gross adj from any movie?
## df.column.max() will return for you max value in the column you specify
max_gross = movies_df.Gross.max()
print("The maximum value in the Gross column is:", max_gross)
max_gross_adj = movies_df['Gross (Adjusted)'].max()
print("The maximum value in the Gross (Adjusted) column is:", max_gross_adj)
## Q2: Are they the same movie?
## You can look at the index that has your row of interest by setting == to the max value
max_gross_movie = movies_df[movies_df.Gross == max_gross]
max_gross_adj_movie = movies_df[movies_df['Gross (Adjusted)'] == max_gross_adj]
same_movie = max_gross_movie.equals(max_gross_adj_movie)
print("Are the two movies the same?", same_movie)

The maximum value in the Gross column is: 936662225
The maximum value in the Gross (Adjusted) column is: 1895421694
Are the two movies the same? False

In [28]:
## Q2: What was the top performing movie for each decade?
## Using groupby allows us to group together rows within a column
movies_df['Decade'] = (movies_df['Year'] // 10) * 10
top_movies_by_decade = movies_df.groupby('Decade').apply(lambda x: x.nlargest(1, 'Gross'))
print(top_movies_by_decade)

                                                 Title      Gross  \
Decade
1920   136         The Four Horsemen of the Apocalypse    9183673
1930   0                            Gone with the Wind  200852579
1940   54                                        Bambi  102247150
1950   82                           Lady and the Tramp   93602326
1960   2                            The Sound of Music  159287539
1970   1            Star Wars: Episode IV - A New Hope  460998507
1980   3                    E.T. the Extra-Terrestrial  435110554
1990   4                                       Titanic  659363944
2000   14                                       Avatar  760507625
2010   10   Star Wars: Episode VII - The Force Awakens  936662225

            Gross (Adjusted)  Year  Decade
Decade
1920   136         430255408  1921    1920
1930   0          1895421694  1939    1930
1940   54          596985188  1942    1940
1950   82          522236013  1955    1950
1960   2          1335086324  1965    1960
1970   1          1668979715  1977    1970
1980   3          1329174791  1982    1980
1990   4          1270101626  1997    1990
2000   14          911790952  2009    2000
2010   10         1013038487  2015    2010

In [37]:
## Q3: To ask if people watch movies more now then in the pass, we are going to ask over the years, is there a difference in the Gross adj over time?
correlation = movies_df['Year'].corr(movies_df['Gross (Adjusted)'])
print(correlation)
if correlation > 0:
    print("There is a positive correlation, suggesting that on average, movies have been grossing more (adjusted for inflation) over time.")
elif correlation < 0:
    print("There is a negative correlation, suggesting that on average, movies have been grossing less (adjusted for inflation) over time.")
else:
    print("There is no significant correlation between Year and Gross (Adjusted).")
## Q4: In addition, are there more top titles being release now compared to the past years?
titles_per_year = movies_df.groupby('Year')['Title'].count().reset_index()
titles_per_year.columns = ['Year', 'Number of Titles']

print("Number of Top Titles per Year:")
print(titles_per_year)

correlation = titles_per_year['Year'].corr(titles_per_year['Number of Titles'])
print(correlation)

if correlation > 0:
    print("There is a positive correlation, suggesting that more top titles are being released over time.")
elif correlation < 0:
    print("There is a negative correlation, suggesting that fewer top titles are being released over time.")
else:
    print("There is no significant correlation between Year and the number of titles released.")

-0.2945352655218526
There is a negative correlation, suggesting that on average, movies have been grossing less (adjusted for inflation) over time.
Number of Top Titles per Year:
    Year  Number of Titles
0   1921                 1
1   1937                 1
2   1939                 1
3   1940                 1
4   1941                 2
..   ...               ...
69  2015                 6
70  2016                 7
71  2017                 5
72  2018                 4
73  2019                 7

[74 rows x 2 columns]
0.6360911409033428
There is a positive correlation, suggesting that more top titles are being released over time.

What other information do you wish this table included that would have helped us find that next new movie?

# Working with tsv
Pandas is able to work with tab-delimited files as well as comma-delimited files. In the case of tab-delimited, we need to specify the delimiter by using the 'sep' keyword argument.

In [39]:
euk_filepath = "https://raw.githubusercontent.com/csbfx/advpy122-data/master/euk.tsv"
euk_df = pd.read_csv(euk_filepath, sep='\t')

In [40]:
## Let's start with getting some information about our table. What is a quick way to do so?
euk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8302 entries, 0 to 8301
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Species             8302 non-null   object
 1   Kingdom             8302 non-null   object
 2   Class               8302 non-null   object
 3   Size (Mb)           8302 non-null   float64
 4   GC%                 8302 non-null   object
 5   Number of genes     8302 non-null   object
 6   Number of proteins  8302 non-null   object
 7   Publication year    8302 non-null   int64
 8   Assembly status     8302 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 583.9+ KB

In [44]:
## I want to narrow down my tables to only include Fungi, how would I go about that?
fungi_df = euk_df[euk_df['Kingdom'] == 'Fungi']
print(fungi_df)

                             Species Kingdom        Class  Size (Mb)      GC%  \
8     Saccharomyces cerevisiae S288C   Fungi  Ascomycetes  12.157100  38.1556
10          Pneumocystis carinii B80   Fungi  Ascomycetes   7.661460     27.8
11         Schizosaccharomyces pombe   Fungi  Ascomycetes  12.591300  36.0381
12      Aspergillus nidulans FGSC A4   Fungi  Ascomycetes  30.276000  50.2721
13       Aspergillus fumigatus Af293   Fungi  Ascomycetes  29.385000  49.8105
...                              ...     ...          ...        ...      ...
8297        Saccharomyces cerevisiae   Fungi  Ascomycetes   3.993920     38.2
8298        Saccharomyces cerevisiae   Fungi  Ascomycetes   0.586761  38.5921
8299        Saccharomyces cerevisiae   Fungi  Ascomycetes  12.020400  38.2971
8300        Saccharomyces cerevisiae   Fungi  Ascomycetes  11.960900  38.2413
8301        Saccharomyces cerevisiae   Fungi  Ascomycetes  11.820700  38.2536

     Number of genes Number of proteins  Publication year  Assembly status
8               6445               6002              1999  Complete Genome
10              3695               3646              2015           Contig
11              6974               5132              2002       Chromosome
12              9586               9556              2003         Scaffold
13             19832              19260              2005       Chromosome
...              ...                ...               ...              ...
8297               -                  -              2017         Scaffold
8298             155                298              1992       Chromosome
8299               -                  -              2018       Chromosome
8300               -                  -              2018       Chromosome
8301               -                  -              2018       Chromosome

[4494 rows x 9 columns]

In [45]:
## Let's further narrow down the table to look at Funggi that has genome size > 100. How many specimens remain?
fungi_over_100 = fungi_df[fungi_df['Size (Mb)'] > 100]
print(fungi_over_100)

                                       Species Kingdom           Class  \
323       Blumeria graminis f. sp. hordei DH14   Fungi     Ascomycetes
347         Puccinia triticina 1-1 BBBD Race 1   Fungi  Basidiomycetes
354                         Tuber melanosporum   Fungi     Ascomycetes
372        Puccinia striiformis f. sp. tritici   Fungi  Basidiomycetes
427          Melampsora larici-populina 98AG31   Fungi  Basidiomycetes
...                                        ...     ...             ...
6406                   Rhizophagus irregularis   Fungi     Other Fungi
6502                   Rhizophagus irregularis   Fungi     Other Fungi
6511                   Rhizophagus irregularis   Fungi     Other Fungi
6520                      Puccinia striiformis   Fungi  Basidiomycetes
6579  Puccinia striiformis f. sp. tritici CY32   Fungi  Basidiomycetes

      Size (Mb)   GC% Number of genes Number of proteins  Publication year  \
323     124.489  43.5               -                  -              2018
347     135.344  36.8           15539              15685              2009
354     124.946  44.9            7496               7496              2010
372     156.834  44.4               -                  -              2018
427     101.129  41.3           16380              16372              2011
...         ...   ...             ...                ...               ...
6406    131.335  25.8           24574              24485              2016
6502    211.467     -               -                  -              2018
6511    156.891     -               -                  -              2018
6520    144.837  44.2               -                  -              2019
6579    130.485  45.2               -                  -              2013

     Assembly status
323         Scaffold
347         Scaffold
354         Scaffold
372           Contig
427         Scaffold
...              ...
6406        Scaffold
6502        Scaffold
6511        Scaffold
6520        Scaffold
6579        Scaffold

[76 rows x 9 columns]

In [46]:
## Which species are in our table, that is Fungi with genome size > 100 Mb
species_over_100 = fungi_over_100['Species'].unique()
print(species_over_100)

['Blumeria graminis f. sp. hordei DH14'
 'Puccinia triticina 1-1 BBBD Race 1' 'Tuber melanosporum'
 'Puccinia striiformis f. sp. tritici' 'Melampsora larici-populina 98AG31'
 'Ophiocordyceps sinensis' 'Gigaspora rosea'
 'Leucoagaricus gongylophorus Ac12' 'Hemileia vastatrix HvCat'
 'Cenococcum geophilum 1.58' 'Tricholoma matsutake'
 'Choiromyces venosus 120613-1' 'Sphaerobolus stellatus SS14'
 'Rhizophagus irregularis DAOM 181602=DAOM 197198' 'Oehlia diaphana'
 'Glomus cerebriforme' 'Austropuccinia psidii' 'Uromyces viciae-fabae'
 'Leucoagaricus sp. SymC.cos' 'Smittium mucronatum'
 'Neocallimastix californiae' 'Pecoramyces ruminatium'
 'Puccinia coronata var. avenae f. sp. avenae' 'Uromyces transversalis'
 'Tuber magnatum' 'Rhizophagus clarus' 'Cantharellus appalachiensis'
 'Cantharellus lutescens' 'Tricholoma bakamatsutake'
 'Tricholoma flavovirens' 'Albatrellus ellisii' 'Chroogomphus rutilus'
 'Gomphus sp. MG54' 'Tricholoma sp. MG77' 'Tuber calosporum'
 'Gomphus bonarii' 'Rhizophagus sp. MUCL 43196' 'Jimgerdemannia lactiflua'
 'Jimgerdemannia flammicorona' 'Neonothopanus nambi'
 'Monosporascus sp. CRB-8-3' 'Colletotrichum trifolii'
 'Diversispora epigaea' 'Verticillium longisporum'
 'Basidiobolus meristosporus B9252' 'Diaporthe longicolla MSPL 10-6'
 'Puccinia graminis f. sp. tritici' 'Puccinia triticina Race 106'
 'Pleurotus eryngii' 'Blumeria graminis f. sp. tritici 96224'
 'Rhizophagus irregularis DAOM 197198w' 'Blumeria graminis f. sp. hordei'
 'Rhizophagus irregularis' 'Blumeria graminis f. sp. hordei K1'
 'Puccinia striiformis f. sp. tritici PST-78' 'Puccinia striiformis'
 'Puccinia striiformis f. sp. tritici CY32']

Next class we will do some more data exploration